<div>
  <label for="_keyword">
    搜索条件：
  </label>
  <input id="_keyword" type="text" placeholder="请输入主题、作者或发帖时间的任意部分进行筛选" ng-model="vm.filter.$"/>
</div>
<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th>主题</th>
    <th>作者</th>
    <th>发帖时间</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in vm.items | filter:vm.filter | page:vm.activePage:vm.page.size">
    <td>{{item.title}}</td>
    <td>{{item.poster}}</td>
    <td>{{item.dateCreated|date:'yyyy-MM-dd HH:mm'}}</td>
  </tr>
  </tbody>
</table>
<ul class="pagination" bf-pagination="vm.page" ng-model="vm.activePage">
  <li ng-class="$pager.first.css()" ng-click="$pager.first.activate()"><a href>{{$pager.first.label()}}</a></li>
  <li ng-class="$pager.prev.css()" ng-click="$pager.prev.activate()"><a href>{{$pager.prev.label()}}</a></li>
  <li ng-repeat="page in $pager.pages" ng-if="page.isVisible()"
      ng-class="{active: page.isActive(), disabled: page.isDisabled()}" ng-click="page.activate()">
    <a href>{{page.label()}}</a>
  </li>
  <li ng-class="$pager.next.css()" ng-click="$pager.next.activate()"><a href>{{$pager.next.label()}}</a></li>
  <li ng-class="$pager.last.css()" ng-click="$pager.last.activate()"><a href>{{$pager.last.label()}}</a></li>
</ul>
<div>
  <label>
    内部页码（从0开始编号）：
    <input type="number" min="0" ng-model="vm.activePage"/>
  </label>
</div>
